<h1>{{title}}</h1>


<div class=container>
  <div class="row">
    <h2>{{ maSuperPizza.name }}</h2>
    <p class="d-block">Price: {{ maSuperPizza.price }}</p>
    <p class="d-block">ID : {{ maSuperPizza.id }}</p>
    <!-- <img src="assets/img/pizzas/{{ maSuperPizza.image }}" alt=""> -->
    <img [src]="'assets/img/pizzas/' + maSuperPizza.image " 
         [alt]="maSuperPizza.name">
  </div>
</div>

<input [(ngModel)] ="maSuperPizza.name">
<!-- keyup -> quand l'utilisateur relâche la touche -->
<!-- <input #input [value] ="maSuperPizza.name" (keyup)="maSuperPizza.name = input.value"> -->

