<!-- <ul>
  <li *ngFor="let pizza of mesPizzas" (click)="onSelect(pizza)">
    {{ pizza.name }}
  </li>
</ul> -->

<div class="row" *ngIf="maSuperPizza">
  <div class="col-lg-3">
    <img [src]="'assets/img/pizzas/' + maSuperPizza.image " [alt]="maSuperPizza.name" class="img-fluid">
  </div>
  <div class="col-lg-3">
    <h2>{{ maSuperPizza.name }}</h2>
    <!-- <p class="d-block">ID : {{ maSuperPizza.id }}</p> -->
    <p class="d-block">Price: {{ maSuperPizza.price }}</p>
    <!-- <img src="assets/img/pizzas/{{ maSuperPizza.image }}" alt=""> -->
    <input [(ngModel)]="maSuperPizza.name">
    <!-- keyup -> quand l'utilisateur relâche la touche -->
    <!-- <input #input [value] ="maSuperPizza.name" (keyup)="maSuperPizza.name = input.value"> -->
  </div>
</div>

<h2 class="my-4">La liste des pizzas</h2>
<div class="mt-5 row">
  <div class="col-sm-6 col-lg-3" *ngFor="let pizza of mesPizzas" (click)="onSelect(pizza)">
    <div class="card mb-4" [class.selected]="pizza === maSuperPizza">
      <img [src]="'assets/img/pizzas/' + pizza.image " [alt]="pizza.name" class="card-img-top">
      <div class="card-body">{{ pizza.name }}</div>
      
    </div>
  </div>
</div>